<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Producto</th>
                <th scope="col">Categoría</th>
                <th scope="col">Precio</th>
                <th scope="col">Decuento</th>
                <th scope="col">P. Final</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <% products.forEach(({id, name,category, price,discount, image, description},index)=> { %>
                <tr>
                    <th scope="row">
                        <%= index + 1 %>
                    </th>
                    <td>
                        <%= name %>
                    </td>
                    <td>
                        <%= category || 'Sin especificar' %>
                    </td>
                    <td>
                        <%= price %>
                    </td>
                    <td>
                        <%= discount %>
                    </td>
                    <td>
                        <%= toThousand((price - (price * discount / 100)).toFixed(0)) %>
                    </td>
                    <td>
                        <div class="d-flex gap-1">

                            <a class="btn btn-sm btn-success" href="/products/edit/<%= id %>"><i class="fas fa-edit"></i></a>

                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal"
                                data-bs-target="#removeProduct<%= id %>">
                                <i class="fas fa-trash"></i>
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="removeProduct<%= id %>" tabindex="-1"
                                aria-labelledby="removeProduct<%= id %>Label" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="removeProduct<%= id %>Label">ADVERTENCIA
                                            </h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Estás seguro que querés eliminar el producto <b>
                                                    <%= name %>
                                                </b></p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Cancelar</button>
                                            <form action="/products/delete/<%= id %>?_method=DELETE" method="POST">
                                                <button type="submit" class="btn btn-danger">Eliminalo</button>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
</div>